
.App{
  background-color: #313144;
  min-height: auto;
  width: 1220;
  margin: auto;
}
.App .text1{
  background-color: #11111a;
  height: 90px;
  width: auto;
  text-align: left;
  padding: auto;
}
#to-do-form input{
  background-color: #f3e6d3;
  border: 2;
  width: 200px;
  height: 100;
  padding: auto;
  margin: 0px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}
#to-do-form button{
  height: 20px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(231,4,252);
}
#header3{
  padding: 5px;
  margin-left: 20px;
  color: rgb(255,255,255);
  line-height: 10px;
}
#header2{
  color: rgb(255,255,255);
}
#box2{
  margin-top:50px;
  margin-left: 50px;
  text-align: center;
  width: 1220px;
  padding: 10px;
  text-emphasis: emphasis 5px;
  border: 5px;
  background-color: rgb(200,1,240);
}

#listdisplay{
  padding-top:30px;
  padding-bottom: auto;
  margin-top:30px;
  margin-left:auto;
  margin-right: auto;
  width: 1220;
  height:50px auto;
  color: rgb(200,1,240);
  background-color: #27282b;
  border-radius: 10px;
}
#listitems{
  height:auto;
  align-items: center;
  padding: 0px;
  transition: ease-in-out;

}
#remove{
  float: right;
  border:0px;
background-color: #27282b;
color: rgb(200,1,240);
}
#options{
  padding-top: auto;
  padding-left: 10px;
  float: left;
}
#task1{
  width:1220px;
  margin-left: 50px;

}